body {
    background-color: gray;
    
}
h1 {
    color: azure;
}
hr {
    border-color: azure;
    border: 3px solid color white;
}
p {
    color: azure;
    font: 1em sans-serif;
}
ul {
    color: ghostwhite;
}
h2 {
    colOR: white;
}
a {
    color: red;
}
a.Jogos {
    color: rgb(59, 41, 41);
}
b {
    color: cyan;
}
a.Mercado {
    color: rgb(59, 41, 41);
}